<!DOCTYPE html>
<html lang="en" ng-app="goldNet">
<head>
    <style>.button {
        background-color: #4929a3;
        border: none;
        color: #E6D59D;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        display: flex;
        justify-content: center;
        width: 300px;
        background-color: #D1AC65;
        color: black;
        border: 2px solid #4929a3;
    }

    .button1:hover {
        background-color: #e2ca9d;
        color: white;
    }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../angular.min.js"></script>
    <script src="javascripts/controllers/displayGuidesCtrl.js"></script>
</head>
<body dir="rtl" ng-controller="displayGuidesCtrl" background="./pictures/goldnet.jpeg">
<br><br> <br><br> <br><br> <br><br>
<h1 align="center"  style="font-size:32px; color:#4929a3; font-family: 'Lucida Grande'"> המדריכים שלי </h1>

<li ng-repeat="guide in guidesList">
    <!--<button ng-click="playGuide(guide)" >{{guide.guide_name}}</button>-->
    <input type="button" ng-click="playGuide(guide)" class="button button1" value="{{guide.guide_name}}"><br>


</li>

<!--<button id="playGuide">מדריך לחיצת כפתור באתר ביטוח לאומי</button>-->
</body>
</html>