<!DOCTYPE html>
<html lang="en" ng-app="goldNet">
<head>
    <style>.button {
        background-color: #4929a3;
        border: none;
        color: #E6D59D;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        display: flex;
        justify-content: center;
        width: 250px;
        background-color: #D1AC65;
        color: black;
        border: 2px solid #4929a3;
    }

    .button1:hover {
        background-color: #e2ca9d;
        color: white;
    }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../angular.min.js"></script>
    <script src="javascripts/controllers/homeCtrl.js"></script>
</head>
<body dir="rtl">
<body dir="rtl" ng-controller="homeCtrl" background="./pictures/elderly.jpeg">
<div>
    <br><br> <br><br> <br><br> <br><br>
    <h2 align="center"  style="font-size:32px; color:#4929a3; font-family: 'Lucida Grande'"> התחברות למערכת </h2>
    <h3 style="font-size:20px; color:#4929a3; font-family: 'Lucida Grande'">הכנס שם משתמש</h3>
    <input id="username" size="25" ng-model="username">
    <h3  style="font-size:20px; color:#4929a3; font-family: 'Lucida Grande'"> הכנס סיסמה</h3>
    <input id="password" size="25" ng-model="password" type="password">
    <br>

    <br>
    <button ng-disabled="username.length === 0 || password.length === 0" ng-click="loginClicked()" >התחברות למערכת</button>

    <p ng-show="errorMessage.length!==0"> {{errorMessage}}</p>
    <br>
    <br>
    <br>
    <br>

    <input type="button"  ng-click="registerClicked()" class="button button1" value="עדיין לא משתמש? הצטרף אלינו!"><br>

</div>
</body>
</body>
</html>