<!DOCTYPE html>
<html lang="en" ng-app="goldNet">
<head>
    <style>.button {
        background-color: #4929a3;
        border: none;
        color: #E6D59D;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        display: flex;
        justify-content: center;
        width: 300px;
        background-color: #D1AC65;
        color: black;
        border: 2px solid #4929a3;
    }

    .button1:hover {
        background-color: #e2ca9d;
        color: white;
    }
    </style>

    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../angular.min.js"></script>
    <script src="javascripts/controllers/manageGuidesCtrl.js"></script>
    <script src="../content.js"></script>
</head>
<body dir="rtl" ng-controller="manageGuidesCtrl" background="./pictures/goldnet.jpeg">

<br><br> <br><br> <br><br> <br><br> <br><br> <br><br>
<input type="button" style="display: block; margin: 0 auto;" class="button button1" ng-click="createNewGuide()" value="צרו מדריך חדש"><br>

<!--list of my guides and option to remove them-->

</body>
</html>