<!DOCTYPE html>
<html lang="en" ng-app="goldNet">
<head>
    <style>p.indent{ padding-left: 1.8em }</style>
    <style>
        .button {
        background-color: #4929a3;
        border: none;
        color: #E6D59D;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        display: flex;
        justify-content: center;
        width: 200px;
        background-color: #D1AC65;
        color: black;
        border: 2px solid #4929a3;
    }

    .button1:hover {
        background-color: #e2ca9d;
        color: white;
    }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../angular.min.js"></script>
    <script src="javascripts/controllers/manageGuidesCtrl.js"></script>
</head>
<body dir="rtl">
<body dir="rtl" ng-controller="manageGuidesCtrl" background="./pictures/goldnet.jpeg">
<br><br> <br><br> <br><br> <br><br>
<h1 align="center"  style="font-size:32px; color:#4929a3; font-family: 'Lucida Grande'"> פרטי המדריך החדש </h1>
<div>
    <h1  style="font-size:25px; color:#4929a3; font-family: 'Lucida Grande'">הכנס את שם המדריך </h1>
    <pr  style="font-size:20px; color:red; font-family: 'Lucida Grande'">שים לב - שם המדריך צריך להיות ייחודי מבין המדריכים שבנית</pr><br><br>
    <input type="text" size="30px" ng-model="guide_name" required>
    <br>
    <br>
    <br>
    <br>
    <!--<button ng-disabled="guide_name.length === 0" ng-click="create()">התחל בבניית המדריך</button>-->
    <input type="button" class="button button1" ng-disabled="guide_name.length === 0" ng-click="create()"value="התחל בבניית המדריך"><br>

    <p ng-show="errorMessage.length!==0"> {{errorMessage}}</p>
</div>
</body>
</html>