<!DOCTYPE html>
<html lang="en" ng-app="goldNet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../angular.min.js"></script>
    <script src="javascripts/controllers/registerCtrl.js"></script>
</head>
<body dir="rtl">
<body dir="rtl" ng-controller="registerCtrl" background="./pictures/elderly.jpeg">
<div>
    <br><br> <br><br> <br><br> <br><br>
    <h2 align="center"  style="font-size:32px; color:#4929a3; font-family: 'Lucida Grande'"> הרשמה למערכת </h2>
    <h3 style="font-size:20px; color:#4929a3; font-family: 'Lucida Grande'">הכנס שם משתמש חדש</h3>
    <input id="username" size="25" ng-model="username">
    <h3  style="font-size:20px; color:#4929a3; font-family: 'Lucida Grande'"> הכנס סיסמה חדשה</h3>
    <input id="password" size="25" ng-model="password">
    <h3  style="font-size:20px; color:#4929a3; font-family: 'Lucida Grande'"> בחר מצב</h3>
    <select id="selectMode">
        <option id="useGuides" value="useGuides">צופה במדריכים</option>
        <option id="createGuides" value="createGuides">מייצר מדריכים</option>
    </select>
    <br>
    <br>
    <button ng-disabled="username.length === 0 || password.length === 0" ng-click="register()" >הרשמה למערכת</button>

    <p ng-show="errorMessage.length!==0"> {{errorMessage}}</p>
</div>
</body>
</html>